:root {
    --gray: rgb(160, 160, 160);
    --dark: rgb(42, 42, 42);
    --light: rgb(69, 69, 69);
}

* {
    font-family: 'Inter', sans-serif;
    color: var(--gray);
    font-size: 1vw;
}

body {  
    display: flex;
    background-color: var(--dark);
}

.button {
    border: var(--border);
    cursor: pointer;
    color: var(--gray);
    background-color: var(--dark);
    border-radius: 4px;
    padding: 4px 8px;
}

.button:hover {
    background-color: var(--light);
}

.green {
    background-color: rgb(87, 170, 68);
}

#canvas {
    height: 48vw;
    width:  48vw;
    margin-left: 12vw;
    margin-top: 2.5vh;
    flex-wrap: wrap;
    display: flex;
    border: 2px solid var(--gray);
}

#canvas div {
    box-sizing:border-box;
    border: 1px solid var(--gray);
}
